.editText {
  white-space: pre-wrap;
  margin: 5px;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
}

.editDiv {
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.editTextInput {
  resize: vertical;
  min-height: 100px;
  width: 100%;
  border: 2px solid #333333;
  border-radius: 8px;
  background-color: #F4ECD6;
  margin: 5px;
  height: 28px;
  text-align: start;
}

.editInput {
  border: 2px solid #333333;
  border-radius: 8px;
  background-color: #F4ECD6;
  margin: 5px;
  height: 28px;
  text-align: start;
}

.circle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #ebe9e2;
  border: 2px solid #333333;
  border-radius: 50%;
  margin: 2px;
}

.circle:hover {
  background-color: #C9C49C;
}

.svg {
  cursor: pointer;
  border: 2px solid #333333;
  border-radius: 8px;
  margin: 0 2px;
}
.svg:hover {
  background-color: #C9C49C;
}

.removeText {
  color: red;
  cursor: pointer;
  justify-self: flex-start;
  align-self: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
