.jobContainer {
  width: 100%;
  align-self: center;
  background-color: #F4ECD6;
  border: 2px solid #333333;
  border-radius: 8px;
}

.jobGrid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 
    minmax(80px, 1fr) minmax(80px, 4.5fr) minmax(20px, 0.6fr);
}

.dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.date > * {
  margin: 0;
  padding: 0;
}

.circle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #ebe9e2;
  border: 2px solid #333333;
  border-radius: 50%;
  margin: 2px;
}

.circle:hover {
  background-color: #C9C49C;
}

.applied {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 24px;
}

.applCheck {
  color: #337C2C;
  font-size: 28px;
}

.applX {
  color: #e61212;
}

.jobAppliedDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 2%;
  grid-row: 1 / -1;
}

.jobAppliedText {
  display: inline;
  color: #333333;
  font-size: 14px;
  margin: 0px;
  padding-left: 5px;
}

.jobCompany {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.jobLocation {
  color: #333333;
  font-size: 16px;
}

.jobTitle {
  color: #333333;
  grid-column: 2;
  padding-left: 5px;
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.jobBottom {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr auto; 
}

.jobFlexbox {
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10%;
}

.jobFlexbox > * {
  margin: 2px 5px;
}

.jobButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circleDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe9e2;
  height: 30px;
  width: 30px;
  border: 2px solid #333333;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}

.circleDelete:hover {
  background-color: #C9C49C;
}

.chevronDiv {
  cursor: pointer;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.jobShowMore {
  display: flex;
  flex-direction: column;
}

.jobDescription {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding: 0 15px;
}

.jobNotes {
  white-space: pre-wrap;
  margin: 5px;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  padding: 0 15px;
}

.jobContact {
  color: #333333;
  font-size: 16px;
  padding: 0 15px;
}

.jobLinkDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jobLink {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tagsDiv {
  min-height: 30px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #C9C49C;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 1px solid #333333;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 100px;
}

.tagText {
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  align-self: center;
  margin: 0;
}

.tagRemove {
  color: #333333;
  cursor: pointer;
  padding-right: 5px;
  font-size: 18px;
  align-self: center;
  margin: 0;
}

.header {
  font-size: 20px;
  margin: 4px 0;
  padding: 0px 15px;
  font-weight: 500;
  border-bottom: 2px solid #333333;
}

.addTagInput {
  cursor: text;
  min-width: 50px;
  width: 5vw;
  background-color: #F4ECD6;
  border: none;
  border-radius: 5px;
  color: #333333;
}

.addTagInput::-webkit-input-placeholder {
  text-align: center;
  color: #333333;
}

.addTagInput::-moz-placeholder {
  text-align: center;  
  color: #333333;
}

.addTagInput:focus {
  outline: none;
}

.addTagText {
  margin: 0;
  cursor: pointer;
}

