.jobGrid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 
    minmax(60px, 1fr) minmax(200px, 6fr) minmax(20px, 0.8fr);
}

.jobAppliedDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  grid-row: 1 / -1;
}

.jobCompany {
  font-size: 16px;
  font-weight: 500;
}

.jobAppliedText {
  font-size: 14px;
  margin: 0px;
}

.jobLocation {
  font-size: 16px;
  font-weight: 400;
}

.jobTitle {
  grid-column: 2;
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.jobBottom {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 7fr 1fr; 
}

.jobFlexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jobFlexbox > * {
  margin: 0px 5px;
}

.jobButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circleDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}


.chevronDiv {
  cursor: pointer;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.jobShowMore {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 85%;
}

.jobDescription {
  font-size: 16px;
  line-height: 24px;
}

.jobNotes {}

.jobLink {
  align-self: center;
  justify-self: center;
}

.circle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
}

.tag {
  display: flex;
  flex-direction: row;
  cursor: default;
  background-color: #e4ebfa;
  border: none;
  opacity: 0.9;
  color: #2531d6;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
}

.tagsDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tag {
  margin: 0 2px;
}

.tagRemove {
  cursor: pointer;
  padding-right: 5px;
  font-size: 14px;
}

.tagText {
  font-size: 14px;
}