.liveSearchContainer {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noJob {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

.tagContainer {
  align-self: center;
}

.searchBar {
  display: flex;
  flex-direction: row;
}

.searchTerm {
  border: 3px solid #333333;
  border-right: none;
  padding: 5px;
  height: 36px;
  min-width: 120px;
  width: 15vw;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #333333;
  background-color: #F4ECD6;
  opacity: 1;
}

.searchTerm::-webkit-input-placeholder {
  text-align: start; 
  color: #333333;
  opacity: 0.8;
}

.searchTerm::-moz-placeholder {
  opacity: 0.8;
  text-align: start; 
  color: #333333;
}

.tag {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background-color: #C9C49C;
  border: 1px solid #333333;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 100px;
}

.tagText {
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  margin: 0;
}

.tagRemove {
  cursor: pointer;
  padding-right: 5px;
  font-size: 18px;
  align-self: center;
  margin: 0;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333333;
  background: #333333;
  color: #F4ECD6;
  border-radius: 0 5px 5px 0;
}

.jobContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  margin-top: 10px;
  border-radius: 4px;
}