.liveSearchContainer {
  width: 95%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchGroup {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.searchBar {
  display: flex;
  flex-direction: row;
}

.searchTerm {
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 36px;
  min-width: 120px;
  width: 15vw;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  opacity: 1;
}

.searchTerm::placeholder {
  opacity: 0.8;
  color: black;
}

.tagContainer {
  justify-self: flex-end;
  align-self: center;
}

.tag {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background-color: #e4ebfa;
  opacity: 0.9;
  color: #2531d6;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 100px;
}

.tagText {
  font-size: 14px;
  align-self: center;
  margin: 0;
}

.tagRemove {
  cursor: pointer;
  padding-right: 5px;
  font-size: 18px;
  align-self: center;
  margin: 0;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: black;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.jobContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  margin-top: 10px;
  border-radius: 4px;
}