.AddMissingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AddMissingOption {
  background-color: #F4ECD6;
}

.circle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #ebe9e2;
  border: 2px solid #333333;
  border-radius: 50%;
  margin: 2px;
}

.circle:hover {
  background-color: #C9C49C;
}


.addFieldForm {
  align-self: center;
  width: 80%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: center;
}

.selectorDiv {
  background-color: #F4ECD6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.selector {
  margin: 0 5px;
  align-self: flex-start;
  background-color: #F4ECD6;
  border: 2px solid #333333;
  border-radius: 5px;
  padding: 2px 5px;
}

.addMissingInput {
  background-color: #F4ECD6;
}

.addMissingTextArea {
  background-color: #F4ECD6;
  resize: vertical;
}

.addMissingInput:focus {
  outline-width: 0;
}

.addMissingButton {
  width: 20%;
  background-color: #333333;
  color: #F4ECD6;
  border-radius: 8px;
}

.addFieldCircle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #ebe9e2;
  border: 2px solid #333333;
  border-radius: 50%;
  margin: 2px;
  align-self: flex-end;
}

.addFieldCircle:hover {
  background-color: #C9C49C;
}

.editTextInput {
  resize: vertical;
  min-height: 100px;
  width: 100%;
  border: 2px solid #333333;
  border-radius: 8px;
  background-color: #F4ECD6;
  margin: 5px;
  height: 28px;
  text-align: start;
}

.editInput {
  border: 2px solid #333333;
  border-radius: 8px;
  background-color: #F4ECD6;
  margin: 5px;
  height: 28px;
  text-align: start;
}
