.jobFoldDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
}

.plusGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}

.addJob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.jobItem {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.jobMain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.jobMore {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.showMore > * {
  margin: 5px 5px;
}

.jobButtons {
  display: flex;
  flex-direction: column;
}

.jobButtons > * {
  display: flex;
  justify-content: center;
  align-items: center;
}