.linkDiv {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.liveSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobFoldDiv {
  align-self: center;
}

.circle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
}

