:root {
  --primary: #c049ff;
  /*background-color: #F2F2F8;
  /*F4ECD6*/
  /*background-color: #F4ECD6;*/
  background-color: #B7B3A1;
  /*
  border: 2px solid #333333;*/
}

html,
body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: calc( -1 * (100vw - 100%));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
