.headerContainer {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-bottom: 2px solid #333333;
  background-color: #F4ECD6;
  gap: 10px;
}

.link {
  grid-column: -1;
}

.logDiv {
  border: 3px solid #333333;
  border-radius: 10px;
}

.logDiv:hover {
  background-color: #C9C49C;
}

.login, 
.logout {
  margin: 8px;
  font-weight: 600;
  color: #333333;
}

.userContainer {
  grid-column: 2;
  justify-self: center;
  padding-left: 8vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.userName {
  margin: 0 4px;
  font-size: 18px;
  font-weight: 500;
}

.userEmail {
  margin: 0 4px;
}

.userAvatar {
  border: 3px solid #333333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  grid-row: 1 / -1;
}